<!--いいね機能-->
<% if post.favorited?(current_user) %>
  <p>
  <%= link_to post_favorites_path(post.id), method: :delete do %>
    <%= post.favorites.count %><i class="fas fa-thumbs-up"></i>
  <% end %>
  </p>
  <% else %>
  <p>
  <%= link_to post_favorites_path(post.id), method: :post do %>
    <%= post.favorites.count %><i class="far fa-thumbs-up"></i>
  <% end %>
  </p>
<% end %>