<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
      <!--左側のユーザープロフィール-->
      <div class='col-md-3'>
        <%= render 'info', user: @user %>
        <!--投稿新規作成ボタン-->
          <div style='margin-top: 10px;'>
            <%= render 'user/posts/post-push' %>
          </div>
      </div>

      <!--右側の投稿一覧画面-->
      <div class='col-md-8 offset-md-1'>
        <h2>ToDo一覧</h2>
        <%= render 'user/posts/index', post: @post, posts: @posts, user: @user %>
      </div>
  </div>
</div>
