<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-body text-center">
      <h2 class="card-title">本当に退会しますか？</h2>
      <div class="card-text">
        <p>退会する場合は、『退会する』をクリックしてください。</p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to '退会しない', user_path(current_user), class: "btn btn-primary" %>
        <%= link_to "退会する", withdraw_user_path, method: :patch, class: "btn btn-danger", data: { confirm: "本当に退会しますか？" } %>
      </div>
    </div>
  </div>
</div>
