<!--フォロワー一覧-->
<div class='container px-5 px-sm-0'>
  <div class='row'>

    <h2>フォロワー</h2>
    <table class='table'>
      
      <tbody>
        <% if @users.empty? %>
         <td>ユーザーはいません</td>

        <% else%>
            <% @users.each do |user| %>
            <thead>
              <tr>
                <th>アイコン</th>
                <th>名前</th>
                <th colspan="3"></th>
              </tr>
            </thead>
              <tr>
                <td><%= image_tag user.get_profile_image(50,50) %></td>
                <td><%= link_to user.name, user %></td>
                <td><%= link_to user.followings.count, user_followings_path(user)  %>フォロー</td>
	            <td><%= link_to user.followers.count, user_followers_path(user) %>フォロワー</td>
              </tr>
        
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>