<table class='table table-hover table-inverse'>
    <% posts.each do |post| %>
    <tbody>
        
            <tr>
                <td>
                    <!--投稿したユーザーと紐づくアイコン-->
                    <%= link_to(post.user) do %>
                        <%= image_tag post.user.get_profile_image(50,50) %>
                    <% end %>
                </td>
                <td><%= link_to post.title, post %></td>
                <!--いいね機能-->
                <!--<td class="fav_<%#= post.id %>">-->
                <!--  <%#= render 'favorites/fav', post: post %>-->
                <!--</td>-->
                <!--コメント数-->
                <!--<td>-->
                <!--    <i class="fas fa-comment"></i><%#= post.comments.count %>-->
                <!--</td>-->
            </tr>
    </tbody>
    <% end %>
</table>