<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
      
      <!--左側のユーザープロフィール-->
      <div class='col-md-3'>
      <%= render 'user/users/info', user: current_user %>
      <!--投稿新規作成ボタン-->
      <div class="d-flex justify-content-end">
        <div class="ml-auto">
          <%= render 'post-push' %>
        </div>
      </div>
    </div>
    
      <!--右側の投稿一覧画面-->
      <div class='col-md-8 offset-md-1'>
        <h2>タイムライン</h2>
        <%= render 'index', posts: @posts, user: @user, post: @post %>
        <%= paginate @posts %>
      </div>

  </div>
</div>