<table class='table table-hover table-inverse'>
    <% users.each do |user| %>
    <tbody>
      <tr>
        <td>
          <!--投稿したユーザーと紐づくアイコン-->
          <%= link_to(user) do %>
            <%= image_tag user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td><%= link_to user.name, admin_user_path(user.id) %></td>
        <td><!--有効、退会ステータス-->
              <% if user.is_deleted === false %>
                <strong class="text-success">有効</strong>
              <% else %>
                退会
              <% end %>
          </td>
      </tr>
    </tbody>
    <% end %>
</table>